.nav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-color: saddlebrown;
  width: 80%;
  margin: 0 auto;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  a {
    color: rgb(107 88 12 / 90%);
  }

  &_menu {
    background-color: antiquewhite;
    padding: 8px;
    border: 1px solid saddlebrown;
    border-radius: 5%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: overline underline;
    box-shadow: 1px 1px 4px black;
  }
}

.navIcon {
  margin: 0 auto;
  width: 40px;
  padding: 5px;
}
